<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light bg-light p-0">
    <div class="container-fluid p-3">
        <a routerLink="">
            <img src="/assets/images/Logo/My Enterprise Soltuions Logo1.png" alt="Logo"
                style="max-height: 40%; max-width: 80%;" class="me-2">
            <img src="/assets/images/Logo/MyEnterpriseSoltuionsMicrosoftPartner.png" alt="Logo">
        </a>
        <button type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler me-4 collapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="navbar-collapse p-2 collapse" style>
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="hrm">HRM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="pms">PMS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="contact">Contact Us</a>
                </li>
            </ul>
            &nbsp;
            <div class="header-btn">
                <button type="button" class="btn btn-primary" style="background-color: #0047ab;" data-toggle="modal"
                    data-target="#exampleModal">
                    <i class="fa fa-phone" aria-hidden="true"></i> </button>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Contacts
                                    <i class="fa fa-phone" aria-hidden="true"> </i>
                                </h1>
                                <button type="button" class="btn-close" data-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <a href="tel:0800 22 88 33">
                                        0800 22 88 33 (NZ)
                                    </a>
                                    <hr />
                                    <a href="tel:+64 33 900 055">
                                        +64 33 900 055
                                    </a>
                                    <hr />
                                    <a href="tel:+679 9265710">
                                        +679 9265710
                                    </a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" style="background-color: #0047ab;"
                                    data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>