<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-6 text-white mb-4 animate__animated animate__fadeInTopLeft">About Us</h1>
    </div>
</div>
<section class="about-layout1 blob">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="heading-layout2 mb-30">
                    <h2 class="heading__subtitle animate__animated animate__fadeInLeft"
                        style="font-size: 40px; color: #0047ab; font-weight: bolder;">My Enterprise Solution Ptd. Ltd.
                    </h2>
                    <h3 class="heading__title mb-30 animate__animated animate__fadeInRight" style="color: #0047ab;">What
                        we are </h3>
                    <p class="heading__desc mb-25 animate__animated animate__fadeInLeftBig">
                        "We ensure the highest levels of certainty and satisfaction through a deep-set commitment to our
                        clients, comprehensive industry expertise. "
                        <br />
                        <br />
                        "We function as a full to business, offering a consulting-led approach with an integrated
                        portfolio of technology led solutions that encompass the entire Enterprise value chain."
                    </p>
                    <div class="post-item__desc animate__animated animate__fadeInLeftBig">
                        <p>
                            "Our Customer-centric Engagement Model defines how we do engage with you, offering
                            specialized services and solutions that meet the distinct needs of your business."
                        </p>
                    </div>
                    <p></p>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="about__img animate__animated animate__fadeInTopRight">
                    <img src="/assets/images/about/About.png" alt="About Us" width="470" height="630">
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<br />
<section class="awards pb-30">
    <div class="container">
        <div class="row awards-wrapper g-3">
            <div class="col-sm-6 col-md-6 col-lg-6 pb-3"
                style="border-right: 3px solid #dedede; border-bottom: 3px solid #dedede;">
                <div class="fancybox-item">
                    <div class="fancybox-item__icon__img text-center">
                        <img src="assets/images/icons/accounting.png" alt="accounting-and-finance-software"
                            class="animate__animated animate__fadeInLeft">
                    </div>
                    <div class="fancybox-item__content">
                        <h3 class="fancybox-item__title animate__animated animate__fadeInTopLeft"> ERP Accounting
                            Software</h3>
                        <p class="fancybox-item__desc animate__animated animate__fadeInTopLeft">
                            "MyERP Accounting ERP Software supports and smoothens accounting and finance operations by
                            integrating all commercial operations in one integrated system. This way the business has
                            complete access to financial status. Executives and owners can know the present and past
                            financial status of the business   ing to which they can plan ahead. Apart from the
                            above-mentioned features, MyERP Accounting solution will provide data , right from
                            depreciation, accruals to debts, all in one place whenever needed."
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="fancybox-item">
                    <div class="fancybox-item__icon__img text-center">
                        <img src="assets/images/icons/sales-management-software.png" alt="Sales-management-software"
                            class="animate__animated animate__fadeInRight">
                    </div>
                    <div class="fancybox-item__content">
                        <h3 class="fancybox-item__title animate__animated animate__fadeInTopRight"> Sales Management
                            Software</h3>
                        <p class="fancybox-item__desc animate__animated animate__fadeInTopRight">
                            "Efficiently manage your human resources on the cloud. Keep all your employee information in
                            one place. Less hassle and less paperwork."
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6" style="border-right: 3px solid #dedede;">
                <div class="fancybox-item">
                    <div class="fancybox-item__icon__img text-center">
                        <img src="assets/images/icons/CRM.png" alt="customer-relationship-management-software"
                            class="animate__animated animate__fadeInLeftBig">
                    </div>
                    <div class="fancybox-item__content">
                        <h3 class="fancybox-item__title animate__animated animate__fadeInTopLeft"> Customer Relationship
                            Management Software</h3>
                        <p class="fancybox-item__desc animate__animated animate__fadeInTopLeft">
                            "Customer relationship management software is deployed by every smart business to maintain
                            positive customer relationships. It creates a centralized space where all data related to
                            customer interactions is stored to make sure that every person with access to CRM gets the
                            required data at the right time."
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 pb-3" style="border-bottom: 3px solid #dedede;">
                <div class="fancybox-item">
                    <div class="fancybox-item__icon__img text-center">
                        <img src="assets/images/icons/Inventory-management-software.png"
                            alt="inventory-management-software-min" class="animate__animated animate__fadeInRightBig">
                    </div>
                    <div class="fancybox-item__content">
                        <h3 class="fancybox-item__title animate__animated animate__fadeInTopRight"> Inventory Management
                            Software</h3>
                        <p class="fancybox-item__desc animate__animated animate__fadeInTopRight">
                            "Businesses run on inventory. It is important for any business to make sure it has enough
                            stock to fulfill customer demands for the present and the future time. However, to be able
                            to decide the amount of inventory the business needs, MyERP comes handy. Businesses neither
                            want to face shortage nor extra stock of inventories. In both cases, businesses are losing
                            money. MyERP Software keeps track of everything related to inventory availability, demand,
                            supply, warehousing cost, warehouse location, etc. "
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6" style="border-right: 3px solid #dedede;">
                <div class="fancybox-item">
                    <div class="fancybox-item__icon__img text-center">
                        <img src="assets/images/icons/hr-management-software.png" alt="hr-and-payroll-software"
                            class="animate__animated animate__fadeInTopLeft">
                    </div>
                    <div class="fancybox-item__content">
                        <h3 class="fancybox-item__title animate__animated animate__fadeInTopLeft"> HR
                            & Payroll Software</h3>
                        <p class="fancybox-item__desc animate__animated animate__fadeInTopLeft">
                            "One of the most time-demanding regular responsibilities of every business is a human
                            resource management and payroll management. MyHR software assists the HR department in
                            storing employees data safely on a centralized system. This data can be used, removed,
                            modified easily as and when the time arises. An integrated database assures of smooth flow
                            of information across the departments. Tracking employees background, their in-house
                            progress and behavior, appraisal reports, salary payments, legal verifications, promotions,
                            resignation, etc can be recorded for every single employee in MyHR."
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="fancybox-item">
                    <div class="fancybox-item__icon__img text-center">
                        <img src="https://www.truebays.com/wp-content/themes/techengage/assets/images/icons/detailed-sales-reports.png"
                            alt="detailed-reports-in-erp-software" class="animate__animated animate__fadeInTopRight">
                    </div>
                    <div class="fancybox-item__content">
                        <h3 class="fancybox-item__title animate__animated animate__fadeInTopRight"> Detailed Reports
                        </h3>
                        <p class="fancybox-item__desc animate__animated animate__fadeInTopLeft">
                            "Deploying ERP solutions is the smartest way of automating your business operations and
                            bringing every department in one alignment. Each department has access to needed data and
                            the flow of information from one department to another becomes smooth with MyERP. Storage
                            and sharing are done without losing or misplacing any data. Detailed reports of every
                            business activity are monitored, analyzed and strategies are developed accordingly."
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<br />