<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-6 text-white mb-4 animate__animated animate__fadeInLeft"> Contact Us </h1>
    </div>
</div>
<section class="contact-area pt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="contact-form mt-45">
                    <h4 class="contact-title">Contact Information</h4>
                    <br />
                    <form novalidate class="ng-untouched ng-pristine ng-invalid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-form form-group">
                                    <label>Full Name :</label>
                                    <input type="text" name="name" data-error="Name is required."
                                        formcontrolname="fullname" required placeholder="Enter Your Full Name"
                                        class="form-control ng-untouched ng-pristine ng-invalid">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-form form-group">
                                    <label>Email Address :</label>
                                    <input type="text" name="email" data-error="Valid email is required."
                                        formcontrolname="email" required placeholder="Enter Your Email Address"
                                        class="form-control ng-untouched ng-pristine ng-invalid">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-form form-group">
                                    <label>Write a Message :</label>
                                    <textarea name="message" data-error="Please Enter Your Message."
                                        formcontrolname="message" required placeholder="Your Message....."
                                        class="form-control ng-untouched ng-pristine ng-invalid"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <p class="form-message"></p>
                            <div class="col-md-12">
                                <div class="single-form form-group">
                                    <button type="submit" class="main-btn" disabled>Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-info pt-45">
                    <h4 class="contact-title">Contact Info</h4>
                    <p class="pt-30">My Enterprise Solutions Pte.Ltd.</p>
                    <ul class="pt-15">
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="content pl-15">
                                    <p>
                                        Martintar Nadi ,
                                        <b> Fiji Islands&nbsp; </b>
                                        <br />
                                        Bernard Road, Vaoala Apia,
                                        <b> Samoa&nbsp; </b>
                                        <br />
                                        "25 Irongate Lane , Bridge Pa, "
                                        <br />
                                        Hastings, 4175,
                                        <b> NewZealand&nbsp; </b>
                                        <br />
                                        Auckland ,
                                        <b> NewZealand&nbsp; </b>
                                        <br />
                                        Surrey ,
                                        <b> Canada&nbsp; </b>
                                        <br />
                                        Chandigarh ,
                                        <b> India&nbsp; </b>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="content pl-15">
                                    <p>
                                        "manager@myenterprisesolutions.co.nz"
                                        <br />
                                        "info@myenterprisesolutions.co.nz"
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="content pl-15">
                                    <p>0800 22 88 33 (NZ)</p>
                                    <p>+64 33 900 055</p>
                                    <p>+679 9265710</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>