<div class="container-fluid page-header py-5 mb-5">
    <div class="container"></div>
</div>
<div class="container text-center">
    <div class="trail-banner-content text-center">
        <h3 class="title" style="font-size: x-large;">
            <span class="mb-3 mt-3" style="font-size: 30px; font-weight: bold;"> Empower your Human Capital with
                MyHRTeam</span>
        </h3>
    </div>
    <img src="assets/images/HRM/MyHRTeam-Advantages-01.jpg" alt="MyHRTeam" class="myhrm img-fluid">
</div>
<br />
<hr />
<br />
<section class="back-office-area pt-50 pb-50"
    style="background-image: url(../assets/images/BackgroundImage/light-watercolor-texture-background-wallpaper.jpg); background-size: cover; background-repeat: no-repeat; object-fit: cover;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-last">
                <div class="section-title">
                    <h1 class="title" style="font-weight: bolder; font-size: 24px;">
                        <span>Recruitment, Onboarding and Document Management</span>
                    </h1>
                </div>
                <div class="back-office-content">
                    <p class="text" style="color: #000; font-size: 16px; letter-spacing: 1px; padding-top: 10px;">
                        Create job openings, design JDs and job questions, publish on the different platforms, review
                        profiles, give ratings, shortlist, and hire.
                        <br />
                        <br />
                        Automated steps that begin with obtaining employment information, signing the employment
                        contract, and providing the new hire with access to key corporate policies so they can examine
                        them before the start of the first working day assist in optimising the onboarding process.
                        <br />
                        <br />
                        Documents can be stored and retrieved for future use through MyHRTeam.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="back-office-image pt-30">
                    <img src="/assets/images/HRM/Recruitment.png" alt="Recruitment, Onboarding and
                    Document Management">
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<br />
<section class="back-office-area pt-50 pb-50"
    style="background-image: url(../assets/images/BackgroundImage/e3226070409aa7238b1c2790a2b33b37.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-last">
                <div class="back-office-image pt-30">
                    <img src="/assets/images/HRM/Role_based_Dashboards.jpg" alt="Role based Dashboards">
                </div>
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="section-title">
                    <h1 class="title" style="font-weight: bolder; font-size: 24px;">
                        <span>Role based Dashboards</span>
                    </h1>
                </div>
                <div class="back-office-content">
                    <p class="text" style="color: #000; font-size: 16px; letter-spacing: 1px; padding-top: 10px;">
                        You can design specialised analytics dashboards that deliver information specific to each
                        position using role-based dashboards.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<br />
<section class="back-office-area pt-50 pb-50"
    style="background-image: url(../assets/images/BackgroundImage/7_generated.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-first">
                <div class="back-office-image pt-30">
                    <img src="/assets/images/HRM/Flexible and dynamic Timesheet processing and approvals.jpg" alt="Flexible and dynamic Timesheet
                    processing and approvals">
                </div>
            </div>
            <div class="col-lg-6 order-lg-last">
                <div class="section-title">
                    <h1 class="title" style="font-weight: bolder; font-size: 24px;">
                        <span>Flexible and dynamic Timesheet processing and approvals</span>
                    </h1>
                </div>
                <div class="back-office-content">
                    <p class="text" style="color: #000; font-size: 16px; letter-spacing: 1px; padding-top: 10px;">
                        It can be difficult to manage the timesheets of employees. Making sure that timesheets are
                        completely accurate requires a lot of time. MyHRTeam helps to record, process, and approve
                        timesheets with portable devices in the field and access data at the same time in your office.
                        Omit multiple handlings of data for your payroll processing and payments.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<br />
<section class="back-office-area pt-50 pb-50"
    style="background-image: url(../assets/images/BackgroundImage/e3226070409aa7238b1c2790a2b33b37.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-last">
                <div class="back-office-image pt-30 text-center">
                    <img src="/assets/images/HRM/Integration.jpg" alt="Integration" width="1000" height="450">
                </div>
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="section-title">
                    <h1 class="title" style="font-weight: bolder; font-size: 24px;">
                        <span>Integration</span>
                    </h1>
                </div>
                <div class="back-office-content">
                    <p class="text" style="color: #000; font-size: 16px; letter-spacing: 1px; padding-top: 10px;">
                        MyHRTeam can be easily integrated with biometric devices and your existing invoicing or
                        accounting packages.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<br />
<section class="back-office-area pt-50 pb-50"
    style="background-image: url(../assets/images/BackgroundImage/arch_5.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-last">
                <div class="back-office-image pt-30">
                    <img src="/assets/images/HRM/Leave-Management.png" alt="Leave Management">
                </div>
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="section-title">
                    <h1 class="title" style="font-weight: bolder; font-size: 24px;">
                        <span>Leave Management</span>
                    </h1>
                </div>
                <div class="back-office-content">
                    <p class="text" style="color: #000; font-size: 16px; letter-spacing: 1px; padding-top: 10px;">
                        An employee's leave history can be accessed with accuracy and precision. As opposed to
                        manually applying, approving, recording, and registering information, it is a single-step
                        process in MyHRTeam.
                        <br />
                        <br />
                        Employees can submit their leave requests from their mobile devices with the help of MyHRTeam's
                        employee dashboard.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<br />
<section class="back-office-area pt-50 pb-50"
    style="background-image: url(../assets/images/BackgroundImage/e3226070409aa7238b1c2790a2b33b37.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-first">
                <div class="back-office-image pt-30">
                    <div class="about-thumbnail homepage">
                        <div data-wow-delay="100ms" class="first-img wow fadeInUp">
                            <img src="/assets/images/HRM/Allowness.png" alt="Allowances">
                        </div>
                        <div data-wow-delay="300ms" class="second-img1 wow fadeInUp">
                            <img src="/assets/images/HRM/Benefits.jpg" alt="Benefits Management">
                        </div>
                        <div data-wow-delay="500ms" class="third-img1 wow fadeInUp">
                            <img src="/assets/images/HRM/Management.png" alt="Benefits Management">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-last mt-50">
                <div class="section-title">
                    <h1 class="title" style="font-weight: bolder; font-size: 24px;">
                        <span>Allowances and Deductions Management</span>
                    </h1>
                </div>
                <div class="back-office-content">
                    <p class="text" style="color: #000; font-size: 16px; letter-spacing: 1px; padding-top: 10px;">
                        In MyHRTeam, benefits, allowances, and legal deductions can be conveniently established,
                        handled, and recorded.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<br />
<section class="back-office-area pt-50 pb-50"
    style="background-image: url(../assets/images/BackgroundImage/vecteezy_gray-background-with-texture-white-abstract-modern-background_.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-last">
                <div class="back-office-image pt-30">
                    <img src="/assets/images/HRM/Payroll.jpg" alt="Payroll">
                </div>
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="section-title">
                    <h1 class="title" style="font-weight: bolder; font-size: 24px;">
                        <span>Payroll</span>
                    </h1>
                </div>
                <div class="back-office-content">
                    <p class="text" style="color: #000; font-size: 16px; letter-spacing: 1px; padding-top: 10px;">
                        Complete peace of mind with complaint payroll, payday filing, and payment processing
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<br />
<section class="back-office-area pt-50 pb-50"
    style="background-image: url(../assets/images/BackgroundImage/drew-beamer-kUHfMW8awpE-unsplash.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-first">
                <div class="back-office-image pt-30">
                    <img src="/assets/images/HRM/Costing, Invoicing & Performance.jpg" alt="Costing, Invoicing &
                        Performance">
                </div>
            </div>
            <div class="col-lg-6 order-lg-last">
                <div class="section-title">
                    <h1 class="title" style="font-weight: bolder; font-size: 24px;">
                        <span>Costing, Invoicing & Performance</span>
                    </h1>
                </div>
                <div class="back-office-content">
                    <p class="text" style="color: #000; font-size: 16px; letter-spacing: 1px; padding-top: 10px;">
                        With MyHRTeam, always be a step ahead with Workforce Costing, Employee Performance, and
                        Workforce Invoicing
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="back-office-area pt-50 pb-50"
    style="background-image: url(../assets/images/BackgroundImage/e3226070409aa7238b1c2790a2b33b37.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-last">
                <div class="back-office-image pt-30">
                    <img src="/assets/images/HRM/Robust and Dynamic reporting.jpg" alt="Robust and Dynamic
                    reporting">
                </div>
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="section-title">
                    <h1 class="title" style="font-weight: bolder; font-size: 24px;">
                        <span>Robust and Dynamic reporting</span>
                    </h1>
                </div>
                <div class="back-office-content">
                    <p class="text" style="color: #000; font-size: 16px; letter-spacing: 1px; padding-top: 10px;">
                        Through the versatile reporting system, the insights of your business can be effortlessly
                        analysed and tailored for better productivity.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<br />
<section class="back-office-area pt-50 pb-50"
    style="background-image: url(../assets/images/BackgroundImage/e3226070409aa7238b1c2790a2b33b37.jpg);">\
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-first">
                <div class="back-office-image pt-30">
                    <img src="/assets/images/HRM/Mobile Application.jpg" alt="Mobile application">
                </div>
            </div>
            <div class="col-lg-6 order-lg-last">
                <div class="section-title">
                    <h1 class="title" style="font-weight: bolder; font-size: 24px;">
                        <span>Mobile application</span>
                    </h1>
                </div>
                <div class="back-office-content">
                    <p class="text" style="color: #000; font-size: 16px; letter-spacing: 1px; padding-top: 10px;">
                        MyHRTeam supports
                        both Android and iOS platforms.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<br />