<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-6 text-white mb-4 animate__animated animate__fadeInTopLeft">Products</h1>
    </div>
</div>
<section id="Div_business" class="traditional box">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="trail-banner-content">
                    <h1 class="title animate__animated animate__fadeInTopRight">
                        <span>Microsoft Dynamics 365 Business Central</span>
                    </h1>
                    <p class="text description animate__animated animate__fadeInTopLeft">
                        Dynamics 365 Business Central is a business management solution for small and mid-sized
                        organizations that automates and streamlines business processes and helps you manage your
                        business. Highly adaptable and rich with features, Business Central enables companies to manage
                        their business, including finance, manufacturing, sales, shipping, project management, services,
                        and more. Companies can easily add functionality that is relevant to the region of operation,
                        and that is customized to support even highly specialized industries.
                    </p>
                    <img src="/assets/images/Products/MyEnterpriseSolutionsBusinessCentral.jpg" alt="Business Central"
                        class="animate__animated animate__fadeInDown w-100">
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<br />
<section id="Div_myerp" class="traditional box"
    style="background-image: url(../assets/images/BackgroundImage/arch_5.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h1 class="title animate__animated animate__backInDown"
                        style="font-weight: bolder; font-size: 40px;">
                        <span style="color: #ff4500;">MyERP</span>
                        <div class="col-lg-12" style="padding-top: 20px;">
                            <p class="text animate__animated animate__backInRight"
                                style="color: #000; font-size: 16px; text-transform: capitalize; letter-spacing: 1px;">
                                MyERP is an ERP system appropriate for small and medium enterprise. It can be
                                centralized for multiple Locations & Modules.
                            </p>
                        </div>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="back-office-image pt-10">
                    <img src="/assets/images/Products/MyEnterpriseSolutionsMyERP.jpg" alt="MyERP"
                        class="animate__animated animate__backInLeft w-100">
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<br />
<section id="Div_restaurant" class="services-area-4 pt-80 pb-80"
    style="background-image: url(../assets/images/BackgroundImage/e3226070409aa7238b1c2790a2b33b37.jpg);">
    <div class="container">
        <div class="csjustify row about__Text">
            <div class="col-md-6">
                <div class="section-title pt-200">
                    <h1 class="title animate__animated animate__bounceInDown"
                        style="font-weight: bolder; font-size: 40px;">
                        <span>Restaurant POS Software</span>
                    </h1>
                </div>
                <p
                    style="color: #000; font-size: 16px; text-transform: capitalize; letter-spacing: 1px; padding-top: 10px;">
                    A complete restaurant management system for your single/multiple restaurant chain with centralized
                    database and supportive to multiple devices.
                </p>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/Products/MyEnterpriseSolutionsRestaurantPOSSoftware.jpg"
                    alt="Restaurant POS Software" class="animate__animated animate__flipInY"
                    style="border: 5px solid #4169E1;border-radius: 16px;">
            </div>
        </div>
    </div>
</section>
&nbsp;
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="heading heading-layout2 mb-60">
                <h2 class="heading__title" style="font-weight: bolder; color: #00008b;">Our Restaurant Management System
                    Software Features</h2>
            </div>
        </div>
    </div>
    <div class="row row-no-gutter">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="pricing-item mb-10 mr-10">
                <div>
                    <div class="pricing-item__header">
                        <div class="pricing-item__price">
                            <a>
                                <img src="\assets\images\Products\MyEnterpriseSolutionsInvertoryMangement.png"
                                    alt="Inventory Management" width="310" style="border-radius: 16px;" height="207">
                            </a>
                        </div>
                        <br />
                        <h3 class="title" style="font-size: 20px; color: #4169E1; font-weight: 900;">Inventory
                            Management</h3>
                    </div>
                    <p class="text" style="font-size: 14px; color: #000; letter-spacing: 1px; padding-top: 10px;">Keep a
                        real-time track of your inventory to plan to purchase and track wastage.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="pricing-item mb-10 mr-10">
                <div>
                    <div class="pricing-item__header">
                        <div class="pricing-item__price">
                            <a class="title">
                                <img src="\assets\images\Products\MyEnterpriseSolutionsFoodCostingRestaurant.png"
                                    alt="Food costing" width="310" style="border-radius: 16px;" height="207">
                            </a>
                        </div>
                        <br />
                        <h3 class="title" style="font-size: 20px; color: #4169E1; font-weight: 900;">Food costing</h3>
                    </div>
                    <p class="text" style="font-size: 14px; color: #000; letter-spacing: 1px; padding-top: 10px;">
                        Food costs are a significant factor of your restaurant success and understanding your food cost
                        helps to boost up your business.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="pricing-item mb-10 mr-10">
                <div>
                    <div class="pricing-item__header">
                        <div class="pricing-item__price">
                            <a>
                                <img src="\assets\images\Products\MyEnterpriseSolutionsDigitalMenuForRestaurant.png"
                                    alt="Digital menu" width="310" style="border-radius: 16px;" height="207">
                            </a>
                        </div>
                        <br />
                        <h3 class="title" style="font-size: 20px; color: #4169E1; font-weight: 900;">Digital menu</h3>
                    </div>
                    <p class="text" style="font-size: 14px; color: #000; letter-spacing: 1px; padding-top: 10px;">Engage
                        your customers with visually appealing digital menu.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="pricing-item mb-10 mr-10">
                <div>
                    <div class="pricing-item__header">
                        <div class="pricing-item__price">
                            <a>
                                <img src="\assets\images\Products\MyEnterpriseSolutionsCallCenter.jpg"
                                    alt="Call Center Management" width="310" style="border-radius: 16px;" height="210">
                            </a>
                        </div>
                        <br />
                        <h3 class="title" style="font-size: 20px; color: #4169E1; font-weight: 900;">Call Center
                            Management</h3>
                    </div>
                    <p class="text" style="font-size: 14px; color: #000; letter-spacing: 1px; padding-top: 10px;">
                        Know who your customer are store your customer information and indentify them when they call
                        you for orders.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="pricing-item mb-10 mr-10">
                <div>
                    <div class="pricing-item__header">
                        <div class="pricing-item__price">
                            <a>
                                <img src="\assets\images\Products\MyEnterpriseSolutionsEmployee Management.png"
                                    alt="Employee Management" width="310" style="border-radius: 16px;" height="207">
                            </a>
                        </div>
                        <br />
                        <h3 class="title" style="font-size: 20px; color: #4169E1; font-weight: 900;">Employee Management
                        </h3>
                    </div>
                    <p class="text" style="font-size: 14px; color: #000; letter-spacing: 1px; padding-top: 10px;">
                        Schedule your employee timings,Monitor their attendance define security level for each
                        employee. Track employee performance and manage their payroll
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="pricing-item mb-10 mr-10">
                <div>
                    <div class="pricing-item__header">
                        <div class="pricing-item__price">
                            <a>
                                <img src="\assets\images\Products\MyEnterpriseSolutionsKitchenDisplaySystem.webp"
                                    alt="Kitchen Display System" width="310" style="border-radius: 16px;" height="207">
                            </a>
                        </div>
                        <br />
                        <h3 class="title" style="font-size: 20px; color: #4169E1; font-weight: 900;">
                            Kitchen Display System</h3>
                    </div>
                    <p class="text" style="font-size: 14px; color: #000; letter-spacing: 1px; padding-top: 10px;">
                        Streamline the communication between your FOH and BOH staff by sending the customer orders
                        directly to the kitchen.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<br />
<section id="Div_pos" class="delivery-area">
    <div class="container">
        <div class="delivery-wrapper pt-75 pb-80">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title pb-20">
                        <h2 class="title" style="font-weight: bolder; font-size: 40px;">
                            <span style="color: #ff4500;">POS(Point of Sale) Solutions</span>
                        </h2>
                    </div>
                </div>
            </div>
            <section class="about-layout1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-4" style="padding-top: 5px;">
                            <div class="heading-layout2 mb-30">
                                <p class="heading__desc"
                                    style="color: #000; font-size: 16px; text-transform: capitalize; letter-spacing: 1px; padding-top: 10px;">
                                    We sell point of sale systems for different industry verticals like :
                                    Retail,Hospitality, Manufacturing,Distribution chains/Warehouse & Service Industry.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="about__img">
                                <img src="/assets/images/Products/MyEnterpriseSolutionsPointOfSale.jpg"
                                    alt="Point of Sale" width="800" height="350"
                                    style="border: 5px solid #000; border-radius: 16px;">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<br />
<hr />
<section id="Div_mytimesheet" class="Timesheet bg_cover pt-20">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <img src="/assets/images/Products/MyEnterpriseSolutionsMyTimesheetManagement.jpg"
                    alt="MyTimesheet Management" style="border: 10px solid #1b4f72; border-radius: 16px;">
            </div>
            <div class="col-lg-6">
                <div class="trail-banner-content">
                    <h1 class="title animate__animated animate__fadeInLeft"
                        style="font-weight: bolder; font-size: 40px;">
                        <span>MyTimesheet Management</span>
                    </h1>
                    <p class="text animate__animated animate__backInRight"
                        style="color: #000; font-size: 16px; text-transform: capitalize; letter-spacing: 1px; padding-top: 10px;">
                        MyTimesheet helps to keep the records of your employees work timings to ease the payroll
                        management. MyTimesheet can be fully integrated with face recognition/Biometrics scanning.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<section id="Div_seo" class="back-office-area pt-20 pb-20">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="section-title">
                    <h1 class="title" style="font-weight: bolder; font-size: 40px;">
                        <span style="color: #ff4500;">SEO & Digital Marketing</span>
                    </h1>
                </div>
                <div class="back-office-content pt-25">
                    <p class="text"
                        style="color: #000; font-size: 16px; text-transform: capitalize; letter-spacing: 1px; padding-top: 10px;">
                        Contact us to boost your business sales & potential leads through digital marketing & SEO.
                    </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="back-office-image pt-30">
                    <img src="/assets/images/Products/MyEnterpriseSolutionsSEOAndDigitalMarketing.png"
                        alt="SEO & Digital Marketing" style="border-radius: 16px;">
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<section id="Div_myfood" class="back-office-area pt-20 pb-20"
    style="background-image: url(../assets/images/BackgroundImage/e3226070409aa7238b1c2790a2b33b37.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-last">
                <div class="section-title">
                    <h1 class="title" style="font-weight: bolder; font-size: 40px;">
                        <span>MyFood Online Ordering System</span>
                    </h1>
                </div>
                <div class="back-office-content pt-25">
                    <p class="text"
                        style="color: #000; font-size: 16px; text-transform: capitalize; letter-spacing: 1px; padding-top: 10px;">
                        MyFood is an online ordering application suitable for Retail & Hospitality vertical.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="back-office-image pt-30">
                    <img src="/assets/images/Products/MyEnterpriseSolutionsMyFoodOnlineOrderingSystem.jpg"
                        alt="MyFood Online Ordering System" style="border-radius: 16px;">
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<section id="Div_mobile" class="back-office-area pt-40 pb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="section-title pb-20">
                    <h1 class="title" style="font-weight: bolder; font-size: 40px;">
                        <span style="color: #ff4500;">Related Mobile Apps</span>
                    </h1>
                </div>
                <div class="back-office-content pt-25">
                    <p class="text"
                        style="color: #000; font-size: 16px; text-transform: capitalize; letter-spacing: 1px; padding-top: 10px;">
                        We customize IOS , Android and cross platform mobile application for the customer
                        requirements.
                    </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="back-office-image pt-30">
                    <img src="/assets/images/Products/MyEnterpriseSolutionsRelatedMobileApps.png"
                        alt="Related Mobile Apps" style="border-radius: 16px;">
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<br />
<section id="Div_server" class="delivery-area">
    <div class="container">
        <div class="delivery-wrapper pt-20 pb-20">
            <section class="about-layout1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-6" style="padding-top: 5px;">
                            <img src="/assets/images/Products/MyEnterpriseSolutionsServers.png" alt="Server Cloud"
                                width="500" height="400">
                        </div>
                        <div class="col-lg-6">
                            <div class="section-title pb-20">
                                <h2 class="title" style="font-weight: bolder; font-size: 40px;">
                                    <span>Servers</span>
                                </h2>
                            </div>
                            <p class="text"
                                style="color: #000; font-size: 16px; text-transform: capitalize; letter-spacing: 1px; padding-top: 10px;">
                                Integrated server solutions to improve your business’s productivity and performance.
                                Process, store, and recover data safely inside your network.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<br />
<hr />
<br />
<section id="Div_possystem" class="services-area-4 pb-20"
    style="background-image: url(../assets/images/BackgroundImage/vecteezy_gray-background-with-texture-white-abstract-modern-background_.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="services-image-3 pt-30">
                    <img src="/assets/images/Products/MyEnterpriseSolutionsPOS.png" alt="POS Systems"
                        style="border: 5px solid #5dade2; border-radius: 16px;">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section-title pt-25">
                    <h2 class="title" style="font-weight: bolder; font-size: 40px;">
                        <span style="color: #ff4500;">POS Systems</span>
                    </h2>
                    <p class="text"
                        style="color: #000; font-size: 16px; text-transform: capitalize; letter-spacing: 1px; padding-top: 10px;">
                        A reliable and robust POS Hardware with OEM warranty. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<br />
<div id="Div_thermalprinter" class="container-fluid bg-light overflow-hidden px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div data-wow-delay="0.5s" class="col-lg-6 feature-text py-5 wow fadeIn">
                <div class="p-lg-5 ps-lg-0">
                    <div class="section-title pb-20">
                        <h2 class="title" style="font-weight: bolder; font-size: 40px;">
                            <span>Thermal & Kitchen Printers</span>
                        </h2>
                    </div>
                    <p class="mb-4 pb-2"
                        style="color: #000; padding-top: 10px; font-size: 16px; text-transform: capitalize; letter-spacing: 1px;">
                        Our Thermal Printers are one of the steady selling POS printers. The printing speed makes it
                        reliable for crowded checkout areas and advanced reliability for large volume printing in retail
                        and hospitality segments. For enhanced customer experiences, our thermal printers are compatible
                        with leading mobile operating systems or Android and iOS.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative pt-100">
                    <img src="\assets\images\Products\MyEnterpriseSolutionsThermal&KitchenPrinters.png"
                        alt="Thermal & Kitchen Printers" class="position-absolute img-fluid h-700"
                        style="border: 5px solid #5dade2; border-radius: 16px;">
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<br />
<section id="Div_barcode" class="services-area-4 pt-20 pb-20"
    style="background-image: url(../assets/images/BackgroundImage/7_generated.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-img">
                    <img alt="Barcode Scanners" src="assets\images\Products\MyEnterpriseSolutionsBarcodeScanners.png"
                        class="img-responsive">
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="title" style="font-weight: bolder; font-size: 40px; color: #ff4500;">
                    <span>Barcode Scanners</span>
                </h2>
                <p class="text"
                    style="color: #000; padding-top: 10px; font-size: 16px; text-transform: capitalize; letter-spacing: 1px;">
                    Technologically advanced tools that are designed to capture the image of a barcode as well as
                    decode the information in the code and transmit the information to the system.
                </p>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<br />
<div id="Div_label" class="printer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="detail-box">
                    <div class="section-title pb-20">
                        <h2 class="title" style="font-weight: bolder; font-size: 40px;">
                            <span>Label Printer</span>
                        </h2>
                    </div>
                    <p
                        style="color: #000; padding-top: 10px; font-size: 16px; text-transform: capitalize; letter-spacing: 1px;">
                        A fast, rugged enterprise label printer for your most challenging environments.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="detail-img">
                    <img src="assets\images\Products\MyEnterpriseSolutionsLabelPrinter.png" alt="Label Printer"
                        class="img-responsive" style="height: 300px;">
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<br />
<div id="Div_weightscale" class="system-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-img">
                    <img alt="Weighing Scale" src="assets\images\Products\MyEnterpriseSolutionsWeighingScale.png"
                        class="img-responsive">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <h1 class="d-title white-color">
                        <strong>
                            <a class="d-title white-color" style="color: #ff4500;">Weighing Scale</a>
                        </strong>
                    </h1>
                    <p
                        style="color: #000; font-size: 16px; padding-top: 10px; text-transform: capitalize; letter-spacing: 1px;">
                        Heavy-duty digital weighing scales fit for your measurement needs. Interface with POS system and
                        use from anywhere in the LAN area.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<br />
<section id="Div_eftpos" class="back-office-area pt-10 pb-10"
    style="background-image: url(../assets/images/BackgroundImage/vector-OCT-2020-120_generated.jpg);">
    <div class="container">
        <div class="section-title pb-20"></div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="back-office-content pt-10">
                    <div class="section-title">
                        <h2 class="title" style="font-weight: bolder; font-size: 40px;">
                            <span>Eftpos Machine</span>
                        </h2>
                    </div>
                    <p class="text"
                        style="padding-top: 10px; font-size: 16px; text-transform: capitalize; letter-spacing: 1px; color: #000;">
                        Eftpos machines for digital transactions & directly integrated with POS.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="back-office-image pt-10">
                    <img src="assets\images\Products\MyEnterpriseSolutionsEftposMachine.jpg"
                        style="border-radius: 16px;" alt="Eftpos Machine">
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<br />
<section id="Div_Biometrics" class="back-office-area pt-10 pb-10"
    style="background-image: url(../assets/images/BackgroundImage/vecteezy_gray-background-with-texture-white-abstract-modern-background_.jpg);">
    <div class="container">
        <div class="section-title pb-10"></div>
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="back-office-image pt-10">
                    <img src="assets\images\Products\MyEnterpriseSolutionsBiometricsMachinesforAttendance.png"
                        alt="Biometrics Machines for Attendance" style="border-radius: 16px;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="back-office-content pt-30">
                    <h1 class="title animate__animated animate__slideInLeft"
                        style="font-weight: bolder; font-size: 40px;">
                        <span style="color: #ff4500;">Biometrics Machines for Attendance</span>
                    </h1>
                    <p class="text"
                        style="color: #000; padding-top: 10px; font-size: 16px; text-transform: capitalize; letter-spacing: 1px;">
                        Integrate face recognition and finger printers for employee attendance.Stable performance, low
                        energy consumption. Support massive USB storage device data import/export. Support recognition
                        modes: face recognition, fingerprint recognition, password recognition. Easy to use, TFT clear
                        touch screen, local operation supported, real-time display and vivid sound provided.
                        Human-harmless non-visible auxiliary light technologies, good performance regardless of day or
                        night, 7*24 continuous working. Excellent outdoor workable face recognition product on earth,
                        superb adaptability for changing illumination, multiple recognition against race, complexion,
                        gender, facial expression, beard and hair style difference.Can be easily interfaced with any
                        third party application.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<br />