.page-header {
    background: url(/assets/images/PMS/PMS.jpg) top no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 50vh;
    position: relative;
}
.image-main-text2 {
    position: absolute;
    top: 1%;
    font-weight: bolder;
}
.image-main-text1 {
    position: absolute;
    top: 80%;
    left: 3%;
    width: 40%;
    font-size: 1vw;
    color: #fff!important;
    font-weight: 700;
}
.image-main-text {
    position: absolute;
    top: 5%;
    right: 1%;
    color: #dc143c!important;
    font-weight: 900;
    font-size: larger
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}