<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/home/MyEnterpriseSoltuionsMicrosoftDynamics365BusinessCentral.jpg" class="d-block w-100"
        alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/home/MyEnterpriseSoltuionsDetails.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/home/MyEnterpriseSoltuionsMachains.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/home/MyEnterpriseSoltuionsPOSSystem.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container pt-50 pb-50">
  <h3 class="title" style="font-size: x-large;">
    <div class="row justify-content-center">
      <span style="align-items: center;">Sell Intelligently to our Clients-ERP, Point of Sale , HR Management,
        Restaurant
        Management System Support &
        Service</span>
    </div>
  </h3>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="trail-banner-content text-center">
        <h3 class="title" style="font-size: x-large;"></h3>
        <p class="text">We have a technical sound team of Technicians and Functional Consultants.</p>
        <button class="main-btn about" style="color: white" routerLink="about"> About</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button routerlink="product" class="main-btn product" style="color: white;"
          routerLink="products">Products</button>
      </div>
    </div>
  </div>
</div>

<section class="delivery-area" style="padding-top: 50px;">
  <div class="container">
    <div class="delivery-wrapper pt-75 pb-80">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center pb-20">
            <h2 data-wow-delay="0.1s" class="title wow" style="font-weight: bolder; font-size: 40px;"><span>Microsoft
                Dynamics 365 BC - On
                premises/Cloud</span></h2>
          </div>
        </div>
      </div>
      <section class="about-layout1">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 col">
              <div class="heading-layout2 mb-30">
                <p> Microsoft’s Next Gen Business Management solution, Business Central (BC) lets
                  you work smarter across your Financial Operations, service, manufacturing, project management and
                  operations teams. Work wherever your business takes you, with full capabilities on desktop, tablet, or
                  mobile, cloud or on-premises. </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about__img">
                <img src="assets/images/home/MyEnterpriseSoltuionsMicrosoftDynamics365BC.jpg"
                  alt="Microsoft Dynamics 365 BC" width="600" height="350">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<section class="services-area-4 pt-50 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-left pb-20">
          <h2 class="title" style="font-weight: bolder; font-size: 38px;">
            <span>Why Business Central ?</span>
          </h2>
          <br />
          <br />
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 d-flex flex-column justify-content-between">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  COMPREHENSIVE BUSINESS MANAGEMENT
                  <span> </span>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <p>Ensure business continuity with on premises/ cloud solution that connects sales, service, finance,
                  and operations teams to help them adapt faster and deliver results.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  EXCEPTIONAL OPERATIONAL FLEXIBILITY
                  <span> </span>
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <p>Easily tailored and extendable solution which can be used on any device, anywhere.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed last" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  MIGRATION TO THE CLOUD FASTER, WITH CONFIDENCE
                  <span> </span>
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>Adopt new business models faster with flexible deployment, reliability, security, and an adaptable
                  solution that grows with you.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingfour">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour"
                  aria-expanded="true" aria-controls="collapsefour">
                  OPTIMIZE INVENTORY & SUPPLY CHAIN MANAGEMENT
                  <span> </span>
                </a>
              </h4>
            </div>
            <div id="collapsefour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfour">
              <div class="panel-body">
                <p>Deliver products on time and adapt to changing business models with visibility across purchasing,
                  manufacturing, inventory, and warehouses.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                  aria-expanded="true" aria-controls="collapseFive">
                  INCREASE FINANCIAL VISIBILITY & PERFORMANCE
                  <span> </span>
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                <p>Accelerate financial close, improve forecasting, and get real-time performance metrics while
                  fostering compliance and security across subsidiaries.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSix">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"
                  aria-expanded="true" aria-controls="collapseSix">
                  BOOST SALE & IMPROVE CUSTOMER SERVICE
                  <span> </span>
                </a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSix">
              <div class="panel-body">
                <p>Take better care of customers by managing the entire sales process and deliver better outcomes with
                  connected service operations.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="services-image-3 Big"><img
            src="assets/images/home/MyEnterpriseSoltuionsMicrosoftBusinessCentral.png" height="600px"
            alt="Business Central">
        </div>
      </div>
    </div>
  </div>
</section>

<section style="padding-top: 10px;">
  <div class="container">
    <div class="pt-10 pb-10">
      <section class="about-layout1">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 text-center"><img
                src="\assets\images\home\MyEnterpriseSoltuions-MCT-Microsoft_Certified_Trainer.png"
                alt="MCT-Microsoft_Certified_Trainer"></div>
            <div class="col-sm-12 col-md-4 col-lg-4 text-center my-2"><img
                src="\assets\images\home\MyEnterpriseSoltuions-CERT-Associate-Dynamics365-Business-Central-Functional-Consultant.png"
                alt="CERT-Associate-Dynamics365-Business-Central-Functional-Consultant"></div>
            <div class="col-sm-12 col-md-4 col-lg-4 text-center"><img src="\assets\images\home\MCT Docs.png"
                width="340px" height="340px" alt="MCT-Microsoft_Certified_Trainer"></div>
          </div>
          <h2 class="title"
            style="font-size: x-large; padding-top: 20px; padding-bottom: 20px; color: #0047ab; text-align: center;">
            <span>Our team have Microsoft Certified Consultant for hassle free deployment for our
              clientele.</span>
          </h2>
        </div>
      </section>
    </div>
  </div>
</section>

<section class="services-area-3 pt-90 pb-30">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center pb-20  ">
          <h2 class="title wow " style="font-weight: bolder; font-size: 40px; color: #0047ab; ">MyERP Software Features
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="services-tab pt-20 ">
          <ul class="nav justify-content-between" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="active" id="management-tab" data-toggle="tab" href="#salesmanagement" role="tab"
                aria-controls="management" aria-selected="true">Sales Management</a>
            </li>
            <li class="nav-item">
              <a id="glance-tab" data-toggle="tab" href="#hr" role="tab" aria-controls="glance" aria-selected="true">
                HR management & Payroll</a>
            </li>
            <li class="nav-item">
              <a id="orders-tab" data-toggle="tab" href="#finance-management" role="tab" aria-controls="orders"
                aria-selected="true">
                Finance Management</a>
            </li>
            <li class="nav-item">
              <a id="tablet-tab" data-toggle="tab" href="#InventoryManagement" role="tab" aria-controls="tablet"
                aria-selected="true">
                Inventory Management</a>
            </li>
            <li class="nav-item">
              <a id="tablet-tab" data-toggle="tab" href="#PurchaseManagement" role="tab" aria-controls="tablet"
                aria-selected="true">
                Purchase Management</a>
            </li>
            <li class="nav-item">
              <a id="tablet-tab" data-toggle="tab" href="#Reportings" role="tab" aria-controls="tablet"
                aria-selected="true">
                Reportings</a>
            </li>
          </ul>
          <div class="tab-content mt-40" id="myTabContent">
            <div class="tab-pane fade show active" id="salesmanagement" role="tabpanel"
              aria-labelledby="management-tab">
              <div class="row">
                <div class="tab-text mt-10  ">
                  <p class="text" style="font-size: 17px">
                    Efficiently manage your human resources on the cloud. Keep
                    all your employee information in one place. Less hassle and
                    less paperwork.
                  </p>
                </div>
                <div class="col-lg-6">
                  <div class="tab-video mt-10">
                    <img src="assets/images/home/MyEnterpriseSoltuionsSalesManagement.png" alt="Sales Management" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="tab-text mt-10">
                    <h6 class="pt-2 pb-2   "><i class="fa fa-check-square-o"></i> Item Tracking</h6>
                    <p class="text  " style="font-size: 16px">
                      Serial number tracking helps in identifying each item in
                      your inventory with a code and track its movement from the
                      point of purchase to sale.
                    </p>
                    <h6 class="pt-2 pb-2  ">
                      <i class="fa fa-check-square-o"></i> Discount Management
                    </h6>
                    <p class="text  " style="font-size: 16px">
                      This Management Software manages various discounting
                      methods for companies.Companies normally offer three types
                      of discounts item related discounts, Discount Management,
                      and payment discounts.
                    </p>
                    <h6 class="pt-2 pb-2  ">
                      <i class="fa fa-check-square-o"></i> Price Management
                    </h6>
                    <p class="text  " style="font-size: 16px">
                      Sales Prices can be configured for individual customers, a
                      group of customers, for all customers.
                    </p>
                    <h6 class="pt-2 pb-2  ">
                      <i class="fa fa-check-square-o"></i> Order Management
                    </h6>
                    <p class="text  " style="font-size: 16px">
                      <b>Order management</b> supports sales staff to
                      efficiently manage sales. This <b>Sales Management Software</b>
                      provides clarity on order fulfilment like partial order
                      shipment or complete shipment.
                    </p>
                    <h6 class="pt-2 pb-2  ">
                      <i class="fa fa-check-square-o"></i> Loyalty Cards &
                      Coupon Management
                    </h6>
                    <p class="text  " style="font-size: 16px">
                      Every loyalty card can be matched with a specific customer
                      and the transactions sourced from various systems.
                    </p>
                    <h6 class="pt-2 pb-2  ">
                      <i class="fa fa-check-square-o"></i> Customer Management
                    </h6>
                    <p class="text  " style="font-size: 16px">
                      <b>Customer Management </b> is an integral part of
                      managing the total sales and finances of every company.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="hr" role="tabpanel" aria-labelledby="glance-tab">
              <div class="row">
                <div class="col-lg-8">
                  <div class="tab-video mt-40">
                    <img src="assets/images/home/MyEnterpriseSoltuionsHRManagement&PayrollSystem.jpg"
                      alt="HR management & Payroll" />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="tab-text mt-40">
                    <p class="text" style="font-size: 17px;">
                      Efficiently manage your human resources. Keep all your employee information in one place. Less
                      hassle and less paperwork. An absolute solution to manage your recruitment, document management &
                      Payroll processing with timesheets.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="finance-management" role="tabpanel" aria-labelledby="orders-tab">
              <div class="row">
                <div class="col-lg-6">
                  <div class="tab-video mt-40  ">
                    <img src="assets/images/home/MyEnterpriseSoltuionsFinancialManagement.webp"
                      alt="Finance Management" />
                  </div>
                </div>
                <div class="col-lg-6" style="padding-top: 80px;">
                  <div class="tab-text mt-50  ">
                    <p class="text">
                      Management of your finance department with different
                      reports of Payables,Receivables,Taxation, Profit & Loss
                      ,Trial Balances etc.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="InventoryManagement" role="tabpanel" aria-labelledby="tablet-tab">
              <div class="row">
                <div class="col-lg-6">
                  <div class="tab-video mt-40  ">
                    <img src="assets/images/home/MyEnterpriseSoltuionsInventoryManagement.jpg"
                      alt="Inventory Management" />
                  </div>
                </div>
                <div class="col-lg-6" style="padding-top: 80px;">
                  <div class="tab-text mt-50  ">
                    <p class="text">
                      A robust inventory management module to Track Inventory,
                      Adjustments of Stock , Opening Balances , Monitor your
                      expired & damaged stock with multiple reports.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="PurchaseManagement" role="tabpanel" aria-labelledby="tablet-tab">
              <div class="row">
                <div class="col-lg-6">
                  <div class="tab-video mt-40  ">
                    <img src="assets/images/home/MyEnterpriseSoltuionsPurchaseOrderManagement.jpg"
                      alt="Purchase Management" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="tab-text mt-50  ">
                    <p class="text">
                      <!-- Efficiently manage your human resources. Keep all your
                        employee information in one place. Less hassle and less
                        paperwork. -->
                      Streamline your purchase workflow, Product Catalog,
                      Inventory Track , Request Quotes , Vendor Management & Procurement
                      with purchase module.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="Reportings" role="tabpanel" aria-labelledby="tablet-tab">
              <div class="row">
                <div class="col-lg-6">
                  <div class="tab-video mt-40  ">
                    <img src="assets/images/home/MyEnterpriseSoltuionsReporting.png"
                      style="max-height: 400px; max-width: 500px" alt="Reportings" />
                  </div>
                </div>
                <div class="col-lg-6" style="padding-top: 80px;">
                  <div class="tab-text mt-50  ">
                    <p class="text">
                      A robust inventory management module to Track Inventory,
                      Adjustments of Stock , Opening Balances , Monitor your
                      expired & damaged stock with multiple reports.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>